<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVENT REGISTRATION WEBSITE</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <style>
        p{
            color: darkslateblue;
        }
    </style>
    <header>
        <img  id = logo src="{% static 'logo.png' %}" alt="logo">
        <nav>
            <a class="nav-link" href="">Home</a>
            <a class="nav-link" href="">Login</a>
            <a class="nav-link" href="">Registration</a>
        </nav>
    </header>
    <section id="events">
        {% for event in events %}
        <div class="event-card">
            <h2 class="event-title">{{event.event_title}}</h2>
            <p class="event-location">Location: {{event.location}}</p>
            <p class="event-date">Date : {{event.date}}</p>
            <a href="{% url 'eventdetail' event.pk %}" class="details-btn">Details</a>
        </div>
        {% endfor %}
    </section>
    <footer>
        <p>&copy;2023 event registration system</p>
    </footer>
</body>
</html>